@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


html{
    scroll-behavior: smooth;
}


nav{
    height: 80px;
    display: flex;
}

ul{
    display: flex;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.text-purple{
    color: #6415ff;
}

.row{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

/* Landing */

#landing{
    height: 100vem;
}

.nav__bar{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__bar--logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    margin: 0 24px;
    color: #243E63;
    text-decoration: none;
}

.nav__bar--logo--img{
    height: 40px;
    width: 40px;
}

.nav__bar--links{
    display: flex;
}

.nav__bar--link{
    font-size: 20px;
    font-weight: 600;
    margin: 0 24px;
    color: #243E63;
    text-decoration: none;
    transition: all 300ms ease;
}

.nav__bar--link:hover{
    text-decoration: underline;
    color: #6415ff;
}

.nav__logo--text{
    padding-left: 16px;
}

.nav__bar--link--last{
    background-color: #6415ff;
    padding: 0.75rem 2rem;
    border-radius: 9999px;
    color: #fff;
}

.header__wrapper{
    display: flex;
    padding: 96px 0;
}

.header__description{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 62px;
    justify-content: space-around;
}

.header__description--title{
    font-size: 58px;
}

.header__description--para{
    font-size: 26px;
    opacity: 0.5;
}

.header__customer--img{
    width: 100%;
}

.header__img--para{
    opacity: 0.6;
}

.header__img--wrapper{
    width: 60%;
}

.header__img--content{
    width: 100%;
}